a{
    text-decoration: none;
    color: inherit;
}
.header{
    width: 100%;
    height: 30%;
    font-size: 30px;
    background-color: #F8EA18;
    display: flex;
    border-bottom: solid black 3px;

}
.logo{
    width: 20%;
    float: left;
    padding-left: 40px;
}
.nomequipe{
    color: #00B9B5;
    width: 25%;
    float: left;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-family: 'josefin sans';
    transition-duration: 1s;
}
body{
    background-color: #00B9B5;
    margin: 0 !important;

}
.nomequipe:hover{
    font-size: 35px;
    transition-duration: 2s;
}
.Idee{
    color: #00B9B5;
    font-family: 'josefin sans';
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    transition-duration: 1s;
    width: 27%;
}
.Idee:hover{
    font-size: 35px;
    transition-duration: 2s;
}
.challenge{
    transition-duration: 1s;
    width: 30%;
    color: #00B9B5;
    font-family: 'josefin sans';
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.challenge:hover{
    font-size: 35px;
    transition-duration: 2s;
}