a{
    text-decoration: none;
    color: inherit;
}
.header{
    width: 100%;
    height: 30%;
    font-size: 3vh;
    background-color: rgb(255, 224, 181);
    display: flex;
}
body{
    background-color: #3C7A89;
}
.logo{
    width: 20%;
    float: left;
    padding-left: 40px;
}
.nomequipe{
    color: rgb(138, 101, 82);
    width: 25%;
    float: left;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    font-family: 'josefin sans';
    transition-duration: 1s;
}
.nomequipe:hover{
    font-size: 4vh;
    transition-duration: 2s;
}
.Idee{
    color: rgb(138, 101, 82);
    font-family: 'josefin sans';
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    transition-duration: 1s;
    width: 27%;
}
.Idee:hover{
    font-size: 35px;
    transition-duration: 2s;
}
.challenge{
    transition-duration: 1s;
    width: 30%;
    color: rgb(138, 101, 82);
    font-family: 'josefin sans';
    padding-top: 2.5%;
    padding-bottom: 2.5%;
}
.challenge:hover{
    font-size: 35px;
    transition-duration: 2s;
}