body {
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    height: 100vh;
}

/* Style spécifique pour chaque bloc */
.a1 {
    background-color: #00B9B5;
    border-right: #E4E4E4 3px solid;
    border-bottom: #E4E4E4 3px solid;
    z-index: 2;
}

.a2 {
    background-color: #00B9B5;
    border-right: black 6px solid;
    border-bottom: black 6px solid;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.a3 {
    text-align: center;
}

.b1 {
    background-color: #F8EA18;
    border-left: #E4E4E4 3px solid;
    border-bottom: #E4E4E4 3px solid;
    z-index: 2;
}

.b2 {
    background-color: #F8EA18;
    border-left: black 3px solid;
    border-bottom: black 6px solid;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.b3 {
    text-align: center;
}

.c1 {
    background-color: #F8EA18;
    border-right: #E4E4E4 3px solid;
    border-top: #E4E4E4 3px solid;
    z-index: 2;
}

.c2 {
    background-color: #F8EA18;
    border-right: black 6px solid;
    border-top: black 3px solid;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.c3 {
    text-align: center;
}

.d1 {
    background-color: #00B9B5;
    border-left: #E4E4E4 3px solid;
    border-top: #E4E4E4 3px solid;
    z-index: 2;
}

.d2 {
    background-color: #00B9B5;
    border-left: black 3px solid;
    border-top: black 3px solid;
    z-index: 1;
    height: 100%;
    width: 100%;
}

.d3 {
    text-align: center;
}

.b5 {
    position: absolute;
    top: 28%;
    left: 40.55%;
    text-align: center;
    z-index: 3;
    transition-duration: 0.5s;
}

.b5:hover {
    scale: 110%;
    transition-duration: 1s;
}













/* Annimation effet shine (test)



.b5:before {
    content: '';
    position: absolute;
    top: 90px;
    left: 0px;
    width: 70px;
    height: 50%;
    background: rgba(255,255,255, 0.3);
    transform: skewX(-30deg);
    animation-name: slide;
    animation-duration: 15s;
    animation-timing-function: ease-in-out;
    animation-delay: .3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    background: linear-gradient(
        to right, 
        rgba(255, 255, 255, 0.13) 0%,
        rgba(255, 255, 255, 0.13) 77%,
        rgba(255, 255, 255, 0.5) 92%,
        rgba(255, 255, 255, 0.0) 100%
      );
    }
    @keyframes slide {
      0% {
        left: 0px;
        top: 50px;
      }

      100% {
        left: 150px;
        top: 50px;
      }
    }